* {
    font-family: 'archivo, ''Montserrat', 'Open Sans', 'sans-serif';
    margin: 0;
    padding: 0;
}


html,
body {
    width: 100vw;
    min-height: 100vh;
    z-index: 1;
}

.background_image {
    position: fixed;
    background-image: url('https://images.pexels.com/photos/667838/pexels-photo-667838.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
    /* background-image: url("https://images.pexels.com/photos/709767/pexels-photo-709767.png?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); */
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100vw;
    height: 100vh;
    z-index: -5;
    filter: grayscale(50%);
    -webkit-filter: brightness(70%);
}

.header_block_fixed {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-area: 100%;
    position: fixed;
    /* margin-bottom: 1%; */
    top: 0;
    /* background: radial-gradient(#8c869b, #756894 ); */
    height: 10vh;
    width: 98vw;
    z-index: 1;
    
    color: white;
    padding: 1%;
}


.navlinks{
    display: grid;
    /* display: inline; */
    justify-items: center;
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    

}


.container {
    display: grid;
    /* background-image: url("https://images.pexels.com/photos/709767/pexels-photo-709767.png?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); */
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    padding: 15% 0% 5% 0%;   
    grid-template-columns: auto;
}

#lg-font {
    font-size: 2.5em;
    font-family: 'archivo';
    color: white;
}

a{
    color: white;
    text-decoration: none;
}

.boxes{
    display: grid;
    /* background: rgba(255, 255, 255, 0.418);     */
    padding: 0% 5% 0% 5%;
    height: 50%;
    grid-template-rows: 5% 45%;
    grid-template-columns: 50% 50%;
    grid-column-gap: 0;
    /* margin-top: 50%; */
    opacity: 0;
    transition: 1s;
}


.boxes:hover{
    background: rgba(255, 255, 255, 0.884);
    display: grid;    
    padding: 5% 5% 5% 5%;
    height: 100%;
    grid-template-rows: 10% 45%;
    grid-template-columns: 50% 50%;
    grid-column-gap: 0;
    /* margin-top: 50%; */
    opacity: 2;
    border: 2px 20px blur;
}

.box-header{
    grid-column: 1/span2;
    text-align: center;
    font-size: 3em;
    color: rgb(64, 148, 83);
    /* font-weight: bold; */
    font-stretch: expanded;
    font-family: 'archivo';
    padding: 0px;
    margin: 0px;
}

.left-box{
    display: grid;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
}

.right-box{
    display: grid;
    align-items: center;
    justify-items: start;
    width: 100%;
    height: 100%;
    font-size: large;
    font-weight: bolder;
    color: gray;
}

ul, li{
    /* font-size: 2em; */
    font-size: large;
    list-style: none;
}

.icons{
    height: 4%;
    width: 4%;
}

.lg-icons{
    height: 50%;
    width: 50%;
}

#services{
    background-image: url("bathroom.jpg");
    min-height: 30%;
}



#map {
    height: 100%;
    width: 100%;
    box-shadow: 1px 1px gray;
}

#map:hover {
    box-shadow: 2px 2px gray;
}


