* {
    font-family: 'archivo, ''Montserrat', 'Open Sans', 'sans-serif';
    margin: 0;
    padding: 0;
}


html,
body {
    width: 100vw;
    min-height: 100vh;
    z-index: 1;
}

.background_image {
    position: fixed;
    background-image: url("https://images.pexels.com/photos/709767/pexels-photo-709767.png?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100vw;
    height: 100vh;
    z-index: -5;
}

.header_block_fixed {
    display: grid;
    position: fixed;
    /* margin-bottom: 1%; */
    top: 0;
    background-color: #756894;
    height: 10vh;
    width: 98vw;
    z-index: 1;
    grid-template-columns: 50% 50%;
    color: white;
    padding: 1%;
}


#map {
    height: 100%;
    width: 100%;
    box-shadow: 1px 1px gray;
}

#map:hover {
    box-shadow: 2px 2px gray;
}

.container {
    display: grid;
    /* background-image: url("https://images.pexels.com/photos/709767/pexels-photo-709767.png?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); */
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    padding: 15% 0% 5% 0%;   
    grid-template-columns: auto;
}

#lg-font {
    font-size: 2.5em;
}

#navlinks{
    text-align: right;
    padding-right: 2%;
    color: white;
    text-decoration: none;
}

/* a{
    color: white;
    text-decoration: none;
} */

.boxes{
    background: white;
    display: grid;    
    padding: 5% 5% 5% 5%;
    height: 100%;
    grid-template-rows: 10% 45%;
    grid-template-columns: 50% 50%;
    grid-column-gap: 0;
    margin-top: 50%;
    align-items: center;
}

.box-header{
    grid-column: 1/span2;
    text-align: center;
    font-size: 3em;
    color: #44Bf5F;
    font-weight: bold;
    font-stretch: expanded;
    font-family: 'archivo';
}

.left-box{
    display: inline-block;
    width: 100%;
    height: 100%;
    align-self: center;
    justify-items: center;
}

.right-box{
    justify-self: center;
    display: inline-block;
    width: 100%;
    height: 100%;

    justify-self: center;

}

ul, li{
    /* font-size: 2em; */
    font-size: large;
    list-style: none;
}

.icons{
    height: 4%;
    width: 4%;
}

.lg-icons{
    height: 50%;
    width: 50%;
}

#services{
    background-image: url("bathroom.jpg");
    min-height: 30%;
}

